.form-item{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 20px;
}



.form-item input{
    width: 80%;
    padding: 10px;
}

.form-item select{
    width: 80%;
    padding: 10px;
}

form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.headerr{
    display: flex;
    justify-content: center;
}

.whole-page{
    margin-bottom: 5vw;
}



